:root{
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--primary);
    color: #173755;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: var(--primary);
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 22px;
}

.btn--mobile {
    text-align: center;
    font-size: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--primary);
    padding: 14px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}


.btn--large:hover, .btn--medium:hover, .btn--mobile:hover {
    transition: all 0.3s ease-out;
    background-color: #173755;
    color: #fff;
    border: none;
}

.btn--wide:hover, .btn--outline:hover {
    color: var(--primary);
    background-color: #f6931b;
    transition: all 0.3s ease-out;
}

.blue {
    background-color: #173755;
    color: var(--primary);
    border: none;
}

.red {
    background-color: #f00946;
    color: var(--primary);
    border: none;
}

.primary {
    background-color: #173755;
    color: var(--primary);
    border: none;
}

.primary:hover {
    background-color: var(--primary);
    color: #173755;
    border: none;
}

.green {
    background-color: #f6931b;
    color: var(--primary);
    border: none;
}


.green:hover {
    background-color: #173755;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}